
@font-face {
    font-family: AvenirNext;
    src: url('../fonts/AvenirNext-Bold.woff') format('woff'); 
    font-weight: normal;
  }/*----------------------١-----------------------*/
/*                 CSS Reset                    */
/*
يجب عليك وضع محتويات الـ 
CSS Reset
 هنا وليس أي نمط متعلق بالموقع، بل الأنماط التي تريد بها إعادة ضبط أنماط المتصفح
 إفتح هذه المقالة
 https://meyerweb.com/eric/tools/css/reset/
*/
/**/
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
display: block;
}
body{
line-height: 1;
}
ol, ul{
list-style: none;
}
blockquote, q{
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
content: '';
content: none;
}
table{
border-collapse: collapse;
border-spacing: 0;
}